.list-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    margin: 30px;
  
    @media screen and (max-width: 1200px) {
      grid-template-columns: repeat(3, 1fr);
    }
  
    @media screen and (max-width: 900px) {
      grid-template-columns: repeat(2, 1fr);
    }
  
    @media screen and (max-width: 600px) {
      grid-template-columns: repeat(1, 1fr);
    }
  }
  
  .list-container {
    display: flex;
    background-color: var(--p-color);
    justify-content: center;
  }
  
  .select-category {
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--p-color);

    @media screen and (max-width: 500px) {
flex-direction: column;
height: auto;
    }
  }
  
  .select-category-btn {
    height: 40px;
    padding: 0px 15px;
    font-size: 15px;
    font-weight: 500;
    border: none;
    border-radius: unset;
    color: var(--s-color);
    background-color: var(--p-color);
    transition: all 0.3s ease;
    cursor: pointer;
  }
  
  .select-category-btn:hover {
    color: var(--p-color);
    background-color: var(--s-color);
  }
  
  .select-category-hr {
    margin: 0;
    padding: 0;
    border: 1px solid var(--s-color);
  }
  
  .pagination-btn {
    height: 40px;
    border: none;
    color: var(--s-color);
    background-color: var(--p-color);
    font-size: 15px;
    font-style: 500;
    transition: all 0.3s ease;
    padding: 0px 15px;
    cursor: pointer;
    border-radius: unset;
  }
  
  .pagination-btn:hover {
    color: var(--p-color);
    background-color: var(--s-color);
  }
  
  .pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--p-color);
  }
  