.product-card {
  height: 320px;
  width: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  transition: box-shadow 0.3s ease;
  cursor: pointer;
}

.product-card:hover {
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.4);
}

.card-details {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 90px;
  width: 250px;
  text-align: center;
  gap: 10px;
  background-color: var(--s-color);
  color: var(--p-color);
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.card-image {
  overflow: hidden;
  height: 230px;
  width: 250px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card-image > img {
  height: 80%;
  width: 80%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  background-color: var(--p-color);
  margin: 0;
}

.no-hover-image{
  display: block;
}

.hover-image{
  display: none;

}

.card-image:hover{
  .no-hover-image{
    display: none;
  }
  
  .hover-image{
    display: block;
  }
}

