.navbar-container {
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: var(--p-color);
  color: var(--s-color);

  @media screen and (max-width: 900px) {
    flex-direction: column;
    height: auto;
  }
}

.navbar-left {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 60px;
  font-weight: 700;
  font-size: 30px;
  gap: 10px;
}

.navbar-name {
  letter-spacing: 3px;
}

.navbar-logo {
  display: flex;
}

.navbar-right {
  height: 60px;
  display: flex;
  font-weight: 600;
}

.menu-list {
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
  gap: 20px;
}

.navbar-container-hr {
  margin: 0;
  border: 1px solid var(--s-color);
}

.link-color {
  color: var(--s-color);
  text-decoration: none;
}

a.active {
  border-bottom: 3px solid var(--s-color);
}
