@import url("https://fonts.googleapis.com/css2?family=Blinker:wght@100;200;300;400;500;600;700;800;900&display=swap");

:root {
  --p-color: #f6f2f4;
  --s-color: #172330;
}

body {
  margin: 0;
  font-family: "Blinker", sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
